body {
  font-family: "Poppins", sans-serif;
  background: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background: #0c0c0c;
  color: white;
  padding: 1.5rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.boissons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem;
}

.boisson {
  background: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.quantite {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

button {
  background: #ff6f61;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.3rem 0.8rem;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  opacity: 0.9;
}

input[type="number"] {
  width: 50px;
  text-align: center;
  font-size: 1rem;
}

.infos-client {
  margin: 2rem;
}


.infos-client input {
  display: block;
  margin-bottom: 1rem;
  width: 80%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: left;
}


.total {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1.5rem;
}

.btn-commande {
  background: #28a745;
  padding: 0.7rem 1.2rem;
  font-size: 1rem;
  border-radius: 8px;
}

footer {
  background: #eee;
  padding: 1rem;
  font-size: 0.9rem;
  color: #555;
}

.categorie {
  margin: 2rem;
}

.categorie h2 {
  text-align: left;
  margin-bottom: 1rem;
  color: #ff6f61;
}

.boissons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}
